@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #F5F5F5;
  --foreground: #000000;

  --primary: #2563EB;
  --primary-foreground: #FFFFFF;

  --border: #000000;
  --ring: #2563EB;

  --font-sans: "Bruno Ace", sans-serif;
}

html.dark {
  --background: #1E1E1E;
  --foreground: #FFFFFF;

  --primary: #3B82F6;
  --primary-foreground: #FFFFFF;

  --border: #FFFFFF;
  --ring: #3B82F6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);

  --font-sans: var(--font-sans);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}